<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shrey.ekka12feb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ekka"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CalibrationActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity android:name=".AkshayResults" android:screenOrientation="sensorLandscape"/>
        <activity
            android:name=".SalmanResults"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".AmirResults"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name=".SharukhResults"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".UserProfile"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Wishlist"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Trending"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Recommended"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Celebrities"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Customize"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".Login"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>